# Dependencies
node_modules/

# Environment variables
.env

# Build files
build/
dist/

# Logs
*.log

# Operating System Files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/
*.swp
*.swo

# Temporary files
*.tmp
*.temp

# Frontend specific 
frontend/build/
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

# Backend specific
backend/node_modules/
backend/.env