PORT=5000 # Replace with yours if port is different
MONGO_URL=your_mongodb_connection_string_here
JWT_SECRET=your_jwt_secret_here
EXPRESS_SECRET=your_express_secret_here # Secret for Express session handling (can be random string)
FRONTEND_URL=http://localhost:3000
GOOGLE_CLIENT_ID=your_google_client_id_here
GOOGLE_CLIENT_SECRET=your_google_client_secret_here
OPENCAGE_API_KEY=your_opencage_api_key_here
